.success-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    color: black;
  }
  
  .logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 150px;
  }
  
  .success-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .success-box {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 40px;
    width: 400px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    text-align: center;
  }
  
  .icon-container {
    background-color: #ffcc00;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .check-icon {
    width: 50%;
  }
  
  .success-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .success-text {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .success-button {
    background-color: #ffcc00;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: black;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .success-button:hover {
    background-color: #e6b800;
  }
  